spring:
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
      redisson:
        connection-pool-size: 1000
        connection-minimum-idle-size: 20
        timeout: 3000


