spring:
  #profiles:
  #  active: dev
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
      redisson:
        connection-pool-size: 1000
        connection-minimum-idle-size: 20
        timeout: 3000

  datasource:
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    url: ${DB_URL}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  cloud:
    aws:
      region:
        static: ap-northeast-2
      s3:
        enabled: true

  batch:
    jdbc:
      initialize-schema: always # 매번 실행 시 스케줄러용 테이블 생성 시도
    job:
      enabled: false

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
